server_name: 0.0.0.0

# Basic Configurations
data_dir: ./data
# timezone: Atlantic/Reykjavik

# Model loading options
default_load_in_8bit: false
default_torch_dtype: float16

# Authentication
# auth_username: username
# auth_password: password

# UI Customization
# ui_title: LLM Tuner
# ui_emoji: 🦙🎛️
# ui_subtitle: Have fun!
# ui_show_sys_info: true

# WandB
# enable_wandb: false
# wandb_api_key: ""
# default_wandb_project: LLM-Tuner

# Special Modes
ui_dev_mode: false
