server_name: 0.0.0.0

# Basic Configurations
data_dir: ./data
# timezone: Atlantic/Reykjavik

# Model loading options
default_load_in_8bit: false
default_torch_dtype: float16

# Authentication
# auth_username: username
# auth_password: password

# UI Settings
# ui_show_starter_tooltips: false
# ui_inference_open_options_by_default: false
# ui_chat_reminder_message: "Language models may produce inaccurate information about people, places, or facts."
# ui_features:
#   - inference
#   - chat
#   - tools

# UI Customization
# ui_title: LLM Tuner
# ui_emoji: 🦙🎛️
# ui_subtitle: Have fun!
# ui_show_sys_info: true

# WandB
# enable_wandb: false
# wandb_api_key: ""
# default_wandb_project: LLM-Tuner

# Adjust the default generation config for text generation.
# default_generation_config:
#   temperature: 0
#   top_k: 40
#   top_p: 0.75
#   num_beams: 2
#   repetition_penalty: 1.2
#   max_new_tokens: 128
# default_generation_stop_sequence: '### Human:'

# Special Modes
demo_mode: false
ui_dev_mode: false
