accelerate
altair
appdirs
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
gradio
huggingface_hub
loralib
numba
nvidia-ml-py3
pandas
random-word
sentencepiece
