accelerate
appdirs
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
numba
nvidia-ml-py3
gradio
loralib
sentencepiece
random-word
