.block-reload-btn {
    position: absolute;
    z-index: 50;
    top: -1px;
    right: -1px;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    min-width: fit-content !important;
    padding: 2px 8px !important;
}
